

h1{

    color: blue;
}

h3{

    color: green;
}

body{
    width:100%;

    background-color: gold
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: fit-content;
}
